/**
 * Test: Archetype/u-component-constructor
 *
 * Component styles are handled by bower, including here for testing purposes.
 */


/**
 * Test Component Structure
 *
 * (default protype styles)
 */
$test__component--structure:(
  padding: .5em,
  margin: 1em,
) !default;

@mixin test__component--structure($styles) {
  @include component-constructor($test__component--structure);
}

/**
 * Test Component  Skins
 *
 * (protype structure styles)
 */
$test__component--skin:(
  background: grey,
  border: 1px solid darken(gray, 15%),
  color: black,
) !default;

@mixin test__component--skin($styles) {
    @include component-constructor($test__component--skin);
}


.test__component--structure {
  @mixin component--structure($styles) {
    @include component-constructor($styles);
  }
}

